

<div class ="new-main-inner px-5 py-4 my-4">
    <h5>ルーム情報登録</h5>
    <table class ="new-main-part">
     <tr>
       <th>メールアドレス</th>
       <td><%= @user.name %></td>
     </tr>
     <tr>
       <th>パスワード</th>
       <td>********</td>
     </tr>
   </table>
   </div>