<div>
<%= link_to post_path(post) do %>
  <p class="caption"><%= post.user.name %></p>  #この行を追記
  <%= attachment_image_tag post, :image, format: 'jpeg', size: '300x200' %>
  <p class="caption mb-0"><%= post.name %></p>
<% end %>
</div>