<div class="header">
   <div class ="header-main">
      <div class ="header-logo">
         <%= link_to top_path do %>
           <img src="https://presite-potepancamp-rails-02.herokuapp.com/assets/logo.png" alt="ロゴ画像">
           <% end %>
         </a>
      </div>
   </div>
</div>