<%= render "shared/header" %>

<div class="col-lg-10 new-main">
   <div class ="new-main-inner px-5 py-4 my-4">
    <h5>ルーム情報登録</h5>
    <table class ="new-main-part">
     <tr>
       <th>メールアドレス</th>
       <td><%= @reservation.person_num %></td>
     </tr>
     <tr>
       <th>パスワード</th>
       <td>********</td>
     </tr>
   </table>
   </div>
  </div>


<%= render 'shared/footer' %>